<aside class="w-64 bg-[#6E5F61] text-white p-4 flex flex-col shadow-lg sticky top-0 min-h-screen">
    <div class="flex items-center mb-8 px-3 py-2">
        <span class="text-2xl font-bold">SimplyBeautyPH</span>
    </div>

    <nav class="flex-grow">
        <ul class="space-y-2">
            <li>
                <a href="profile" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200 {{#isActive 'profile' currentPath}}bg-[#5C4F51]{{/isActive}}">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                    {{!-- <p>Debug: role is "{{u.role}}"</p> --}}
                    <span class="font-medium">{{ full_name }}</span>
                </a>
            </li>
            <li>
                <a href="manage_users" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200 {{#isActive 'manage_users' currentPath}}bg-[#5C4F51]{{/isActive}}">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"/>
                    </svg>  
                    <span class="font-medium">Manage Users</span>
                </a>
            </li>
            <li>
                <a href="manage_products" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200 {{#isActive 'manage_products' currentPath}}bg-[#5C4F51]{{/isActive}}">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                    </svg>
                    <span class="font-medium">Manage Products</span>
                </a>
            </li>
            <li>
                <a href="manage_locations" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200 {{#isActive 'manage_locations' currentPath}}bg-[#5C4F51]{{/isActive}}">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 23V10C4 9.4477 4.44772 8.99999 5 8.99999H19C19.5523 8.99999 20 9.4477 20 10V23H4zM18 11H6V23H18V11zM1 23C0.447715 23 0 22.5523 0 22V6.6439C0 5.85962 0.458406 5.14771 1.17239 4.82317L11.1724 0.27772C11.6982 0.03869 12.3018 0.03869 12.8276 0.27772L22.8276 4.82317C23.5416 5.14771 24 5.85962 24 6.6439V22C24 22.5523 23.5523 23 23 23H1zM6 13H18V15H6V13zM6 21H18V23H6V21zM6 17H18V19H6V17z" fill="#ffffff"/>
                    </svg>
                    <span class="font-medium">Manage Locations</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sticky bottom-0 bg-[#6E5F61] pt-4 space-y-2 border-t border-[#5C4F51]">
        <ul>
            <li>
                <a href="#" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.52.42l-.38 2.65c-.61.25-1.17.58-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.12.22-.07.49.12.64l2.11 1.65c-.04.32-.07.64-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24-.42-.12-.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.06.24.27.42.52.42h4c.25 0 .46-.18.52-.42l-.38-2.65c.61-.25 1.17-.58 1.69-.98l2.49 1c.22.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
                    </svg>
                    <span class="font-medium">Account</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200">
                    <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm0-4h-2V7h2v8z"/>
                    </svg>
                    <span class="font-medium">Help</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-3 rounded-xl hover:bg-[#5C4F51] transition-colors duration-200">
                    <svg class="w-5 h-5 mr-3 opacity-0" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm0-4h-2V7h2v8z"/>
                    </svg>
                    <span class="font-medium">About</span>
                </a>
            </li>
        </ul>
    </div>
</aside>